@import 'bootstrap/dist/css/bootstrap.min.css';

.footer{
    background-color: #007e6d;
    color: #fff;
    font-family: "Roboto",Sans-serif;
}

.footer__content{
    display: flex;
    justify-content: center;
    padding: 60px 0px 60px 0px;
}

@media (max-width:  768px){
    .footer__content{
        padding: 60px 10px 60px 10px;
    }
}

.logowhite{
    width: 100px;
    margin: auto;
}

.footer__item{
    display: flex;
    flex-direction: column;
}

.footer__title{
    font-size: 16px;
    font-weight: bold;
    margin: 20px auto;
}

@media (max-width:  768px){
    .footer__title{
        font-size: 14px;
        margin-top: 40px;
        text-align: center;
    }
  }

.footer__text__title{
    font-size: 14px;
    font-weight: bold;
    margin: auto;
}

@media (max-width:  768px){
    .footer__text__title{
        font-size: 12px;
    }
}

.footer__text__title2{
    font-size: 14px;
    font-weight: bold;
    margin: auto;
    margin-top: 20px;
}

@media (max-width:  768px){
    .footer__text__title2{
        font-size: 12px;
        margin-top: 10px;
    }
}

.footer__text__portal{
    color: #EBEBEB;
    font-size: 14px;
    margin: auto;
    margin-top: 20px;
}

@media (max-width:  768px){
    .footer__text__portal{
       font-size: 12px;
       text-align: center;
       margin-top: 10px;
       line-height: 1.25em;
    }
}

.footer__text{
    font-size: 14px;
    margin: auto;
}

@media (max-width:  768px){
    .footer__text{
        font-size: 12px;
    }
}