@import 'bootstrap/dist/css/bootstrap.min.css';

.body__p{
    color: #424242;
    font-size: 14px;
    line-height: 1.3em;
    margin-bottom: 20px;
}

@media (max-width:  768px){
    .body__p{
        font-size: 12px;
    }
}