@import 'bootstrap/dist/css/bootstrap.min.css';

#new__password{
    font-size: 14px;
    margin-bottom: 5px;
}

#password__desc{
    font-size: 12px;
    color: #DE944C;
}

@media (max-width:  768px){
    #password__desc{
        font-size: 10px;
    }
}