@import 'bootstrap/dist/css/bootstrap.min.css';

.bg__fon{
    background-color:rgba(0,0,0,.3);
    height:100%;
    position:fixed;
    width:100%;
    top:0;
    left:1;
    overflow-y: auto;
    display: flex;
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.el-pochta{
    margin-bottom: 15px;
}

.email__w{
    color: #424242;
    font-size: 14px;
    line-height: 1.3em;
}

@media (max-width:  768px){
    .email__w{
        color: #424242;
        font-size: 12px;
        line-height: 1.3em;
    }
}

 .back__home{
     font-size: 12px;
 } 

 @media (max-width:  768px){
    .back__home{
        font-size: 10px;
    } 
}

  .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}